.main-container {
    display: flex;
    width: 95%;
    height: 95%;
    &__navbar {
        height: auto;
        width: 76px;
    }
    &__right_container {
        display: flex;
        flex-direction: column;
        padding-left: 64px
        &__topbar {
            height: 64px;
            width: 1100px;   
        }
        &__rightcon {
            
        }
    }
}
