.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    &__navbar {
        height: 938px;
        width: 74px;
    }
    &__topbar {
        height: 64px;
        width: 100%;
    }
    &__rightcon {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
  }
